{% extends "base.html" %}

{% block body_block %}
<div class="jumbotron">
<h2 style="color:white">Welcome to HexaFace!</h2>
<h3 style="color:white">The AI-based web portal for face applications.</h3>
<h3 style="color:white">We certainly can analyse your facial images.</h3>
</div>

<div class="bottom">
  <h4 style="color:white"> How this works:</h4>
  <h5 style="color:white"> Click on the application you are interested in.</h5>
  <h5 style="color:white"> Upload your image.</h5>
  <h5 style="color:white"> Click on process</h5>
</div>

<div class="bottomright">
  <h5 style="color:white"> Copyright: Big Data Squad</h5>
</div>


{% endblock %}
